{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Tracker{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="">
        <div class="">
            
            {# add to a modal #}
            
            <form class="mt-4" method="post" action="{% url 'tracker:add_bet' %}">
                {% csrf_token %}
                {% for field in add_form %}
                  <div class="form-group justify-content-center">
                    {% if field.errors %}
                      {% for error in field.errors %}
                        <div class="alert alert-danger w-25 m-auto" >{{ error }}</div>
                      {% endfor %}
                    {% endif %}
                    <label for="{{field.auto_id}}" class="col-2 col-form-label">{{field.label}}:</label>
                    {# change date time field to time select #}
                    {{field}}
                  </div>
                {% endfor %}
                <input type="submit" value="Add" class="mt-2 btn btn-success">
            </form>
            {% for row in df %}
                <p>{{row}}</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}