{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Odds{% endblock %}</h1>
{% endblock %}

{% block content %}
    {% load odds_extras %}
    <div>
        {% for odd in odds %}
            <div class="row">
                <div>
                    <p>{{odd.markets.h2h.Best.0.name}}</p>
                    <p>{{odd.markets.h2h.Best.1.name}}</p>
                </div>
                <div class="">
                    <h6>Moneyline</h6>
                    <div>
                        <p>{% add_plus odd.markets.h2h.Best.0.price %}</p>
                        <p>{{odd.markets.h2h.Best.0.bookmaker}}</p>
                    </div>
                    <div>
                        <p>{% add_plus odd.markets.h2h.Best.1.price %}</p>
                        <p>{{odd.markets.h2h.Best.1.bookmaker}}</p>
                    </div>
                </div>
                <div class="">
                    <h6>Spread</h6>
                    <div>
                        <p>{% add_plus odd.markets.spreads.Best.0.point %}</p>
                        <p>{% add_plus odd.markets.spreads.Best.0.price %}</p>
                        <p>{{odd.markets.spreads.Best.0.bookmaker}}</p>
                    </div>
                    <div>
                        <p>{% add_plus odd.markets.spreads.Best.1.point %}</p>
                        <p>{% add_plus odd.markets.spreads.Best.1.price %}</p>
                        <p>{{odd.markets.spreads.Best.1.bookmaker}}</p>
                    </div>
                </div>
                <div class="">
                    <h6>Total</h6>
                    <div>
                        <p>O{{odd.markets.totals.Best.0.point}}</p>
                        <p>{% add_plus odd.markets.totals.Best.0.price %}</p>
                        <p>{{odd.markets.totals.Best.0.bookmaker}}</p>
                    </div>
                    <div>
                        <p>U{{odd.markets.totals.Best.1.point}}</p>
                        <p>{% add_plus odd.markets.totals.Best.1.price %}</p>
                        <p>{{odd.markets.totals.Best.1.bookmaker}}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}