{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form class="mt-4" method="post" action="{% url 'users:login' %}">
    {% csrf_token %}
    {% for field in form %}
      <div class="form-group justify-content-center">
        {{field.errors}}
        <label for="{{field.auto_id}}" class="col-2 col-form-label">{{field.label}}:</label>
        {{field}}
      </div>
    {% endfor %}
    <input type="submit" value="Log In" class="mt-2 btn btn-success">
  </form>
{% endblock %}