{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Sign Up{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form class="mt-4" method="post">
    {% csrf_token %}
    {% for field in form %}
      <div class="form-group justify-content-center">
        {% if field.errors %}
          {% for error in field.errors %}
            <div class="alert alert-danger w-25 m-auto" >{{ error }}</div>
          {% endfor %}
        {% endif %}
        <label for="{{field.auto_id}}" class="col-2 col-form-label">{{field.label}}:</label>
        {{field}}
      </div>
    {% endfor %}
    <input type="submit" value="Sign Up" class="mt-2 btn btn-success">
  </form>
{% endblock %}